@model IEnumerable<OneTouchElectronix.Models.MainCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Category", "Create")
</p>

<table class="table table-striped table-bordered table-hover table-condensed" >
    <tr>
        <th>@Html.DisplayNameFor(m => m.MainCategoryName)</th>
        <th>@Html.DisplayNameFor(d => d.MainCategoryDescription)</th>
        <th></th>
    </tr>

    @foreach (var category in Model)
    {
        string description = category.MainCategoryDescription ?? "No Description Found".ToUpper();
        <tr>
            <td>
            @Html.DisplayFor(modelItem => category.MainCategoryName)
            </td>
            <td>
                
                @Html.DisplayFor(d => description)
            </td>
            <td>

                @Html.ActionLink("Edit Category", "Edit", new { id =category.MainCategoryId}) |
                @Html.ActionLink("Category Details", "Details", new { id = category.MainCategoryId}) |
                @Html.ActionLink("Delete Category", "Delete", new { id =category.MainCategoryId})
            </td>
        </tr>
    }

</table>

